<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <etechflow_supplierautoflow>
            <general>
                <enabled>0</enabled>
            </general>
            <slots>
                <pairs></pairs>
                <stock_dependent_names></stock_dependent_names>
            </slots>
            <stock>
                <trigger_source>magento_qty</trigger_source>
            </stock>
            <pricing>
                <output_target>special_price_with_anchor</output_target>
                <rounding>2dp</rounding>
                <anchor_multiplier>1.40</anchor_multiplier>
                <anchor_attribute></anchor_attribute>
            </pricing>
            <fallback>
                <no_active_supplier_behavior>out_of_stock</no_active_supplier_behavior>
                <reverse_toggle_on_restock>1</reverse_toggle_on_restock>
            </fallback>
        </etechflow_supplierautoflow>
    </default>
</config>
