<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!--
        MSI source-items save hook (v0.1.0). Same soft-detect pattern NDE
        v1.6.0 uses: if Magento_InventoryApi isn't present, Magento ignores
        this <type> entry because the target interface doesn't exist.
    -->
    <type name="Magento\InventoryApi\Api\SourceItemsSaveInterface">
        <plugin name="etechflow_supplierautoflow_auto_toggle_on_msi_save"
                type="ETechFlow\SupplierAutoflow\Plugin\AutoToggleOnMsiSourceItemsSave"
                sortOrder="20"
                disabled="false"/>
    </type>

    <!-- CLI: bin/magento etechflow:autoflow:resync -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="etechflow_supplierautoflow_resync"
                      xsi:type="object">ETechFlow\SupplierAutoflow\Console\Command\ResyncCommand</item>
            </argument>
        </arguments>
    </type>
</config>
