<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="cataloginventory_stock_item_save_after">
        <observer name="etechflow_supplierautoflow_auto_toggle_on_stock_change"
                  instance="ETechFlow\SupplierAutoflow\Observer\AutoToggleOnStockChange"/>
    </event>
    <event name="catalog_product_save_after">
        <observer name="etechflow_supplierautoflow_reprice_on_product_save"
                  instance="ETechFlow\SupplierAutoflow\Observer\RepriceOnProductSave"/>
    </event>
</config>
